#canvas2d {
    background-color: cyan;
    margin: 3px;
}

#canvas1d {
    border: blue thin solid;
    margin: 3px;
}

#canvas3d  {
    margin: 3px;
}

.dashboard {
    margin-left: 5px;
}

.radio-inline {
    margin-left: 5px;
}

.btn-group {
    margin-top: 6px;
}

#optsArea,
#helpArea {
    display: none;
    width: 100%;
    margin-bottom: 4px;
}