#canvas {
    background-color: cyan;
    margin: 3px;
}

.dashboard {
    margin-left: 5px;
}

.radio-inline {
    margin-left: 5px;
}

.btn-group {
    margin-top: 6px;
}

#toolsArea {
    display: none;
    width: 100%;
    margin: 0px 54px 4px 16px;

}