input[type="range"] {
    margin-top: 10px;
    width: 80px;
}

.btn-group {
    margin-top: 8px;
}

#optsArea, #helpArea {
    display: none;
    width: 100%;
    /*margin-bottom: 4px;*/
}
#helpArea {
    background-color: whitesmoke;
}



canvas {
    margin-top: -10px;
}

#canvas1d, #canvas2d {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas1d {
    background-color: #00000000;
}

#canvas2d {
    background-color: cyan;
}

